<nav>
  <h1>Welcome</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>My name is <a href="/">{{ site.data.theme.name }}</a></h2>
  <div id="bio">
    <p> Here is where I write about economics, data and organizational leadership. 
    <!--In my day job, I think about how to position data science teams for success.-->
    <!--I live in Boston.-->
    </p>
  </div>
  <!--
  <div id="social">
    {% include social.html %}
  </div>
  <div id="tags">
    {% include tags.html %}
  </div>
  -->
</nav>
